.row.visible-flex.about-block-position {
  align-items: center;
  flex-wrap: wrap;
}

.container.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}

/* sm */
@media (min-width: 575px) {
  .container.about-me {
    padding-top: 110px;
  }
}
/* md */
@media (min-width: 767px) {
  .container.about-me {
    height: 500px;
    padding-top: 80px;
  }
}
/* lg */
@media (min-width: 991px) {
}
/*xl  */
@media (min-width: 1199px) {
}
