.filter-card > .section-smaller {
    margin-top: 16px;
}
.filter-card > .section-description {
    margin-top: 0px;
}
.active-filter {
    color: var(--primary-color);
}
.no-display {
    display: none;
}
