header.container {
  padding: 0;
}
.menu {
  float: right;
}
.menu a {
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  color: var(--headerColor);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
a.active {
  color: var(--hooverColor);
}
.menu a:hover {
  color: var(--hooverColor);
}
.fa-bars {
  float: right;
  font-size: 24px;
  padding: 8px;
  color: var(--headerColor);
}
