header.container {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  z-index: 2;
  height: 70px;
}
.container .row.nav {
  margin-top: 20px;
}
.menu {
  float: right;
}
.menu a {
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  color: var(--fifth-color);
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.3s ease-in;
}
a.active {
  color: var(--primary-color);
}
.menu a:hover {
  color: var(--primary-color);
}
.icon {
  float: right;
  font-size: 24px;
  padding: 8px;
  color: #222;
}
.shadow {
  box-shadow: 0 4px 40px lightgray;
}
