.section-title {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 20px;
}
p.section-description {
  font-size: 14px;
  font-weight: 300;
  color: #777;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 16px;
  line-height: 1.6em;
}
.section-headline {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.section-title.uppercase {
  font-size: 60px;
  font-weight: 600;
  text-align: left;
}
h2.uppercase-smaller {
  font-size: 36px;
  margin-top: 40px;
  font-weight: 600;
  line-height: 1.2em;
  text-align: left;
}
.section-smaller {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
/* .service.section-description {
  text-align: center;
}*/
@media only screen and (max-width: 900px) {
  .section-title.uppercase {
    font-size: 30px;
  }
  .section-title.uppercase-smaller {
    font-size: 20px;
  }
}
