.section-title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: #222;
  margin: 20px 0 10px;
}
.section-subtitle {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #222;
  margin-top: 20px;
}
.text {
  font-size: 17px;
  text-align: center;
  color: #777;
}
.section-description {
  background-color: var(--third-color);
  padding: 40px 20px;
  margin: 20px 0;
}
.section-description p:first-of-type {
  padding-bottom: 30px;
}
.section-description > p {
  padding: 12px;
  border-bottom: 1px solid #eee;
}
.circle {
  display: inline-block;
  font-size: 36px;
  font-weight: 300;
  line-height: 80px;
  text-align: center;
  color: #222;
  background-color: #8490ff1a;
  height: 140px;
  width: 140px;
  border-radius: 100%;
  border: 30px solid #e2e5ff;
}
