.section-title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: #222;
  margin-top: 20px;
}
.section-subtitle {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #222;
  margin-top: 20px;
  transition:0.2s;
}
.text {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #777;
}
.section-description {
  float: left;
  width: 100%;
  background-color: var(--third-color);
  padding: 40px 20px;
  transition: 0.2s;
  margin-bottom: 30px;
  z-index: 1;
}
@media (min-width: 767px) {
  .section-description {
    width: 50%;
  }
}
@media (min-width: 991px) {
  .section-description {
    width: 25%;
  }
}
.section-description p:first-of-type {
  padding-bottom: 30px;
}
.section-description > p {
  padding: 12px;
  border-bottom: 1px solid #eee;
}
.circle {
  display: inline-block;
  font-size: 36px;
  font-weight: 300;
  line-height: 80px;
  text-align: center;
  color: #222;
  background-color: #8490ff1a;
  height: 140px;
  width: 140px;
  border-radius: 100%;
  border: 30px solid #e2e5ff;
  transition: 2s;
  /* transition-delay: 0.5s; */
}
.section-description:first-of-type:hover {
margin-bottom: 0;
}
@media (max-width: 767px) {
  .section-description:first-of-type:hover {
    margin-bottom: 30px;
  }
}
.section-description:hover {
  background: var(--gradient);
  transform: scale(1.05);
  /* padding: 40px 20px; */
  color: var(--secondary-color);
  /* margin-bottom: 0; */
  z-index: 2;
}
.section-description:hover .circle,
.section-description:hover .section-subtitle {
  color: var(--secondary-color);
  border-color: rgba(255, 255, 255, 0.21);
}
.section-description:hover .section-title {
  display: none;
}
.buy-plan {
  display: none;
  width: 100%;
  padding: 10px 50px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  background: var(--secondary-color);
  color: var(--fourth-color);
  margin-top: 30px;
}
.section-description:hover .buy-plan {
  display: inline-block;
}