.testimonials-slider-content {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
}

.testimonials-card {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: var(--secondary-color);
}

.testimonials-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 25px 30px 12px 30px;
}

.testimonials-content:hover .section-smaller {
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.testimonials-content .section-smaller {
  color: var(--fourth-color);
}
.testimonials-img {
  border-radius: 50%;
}

.testimonials-actions {
  display: flex;
  justify-content: center;
}
.carousel-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 14px;
  background-color: var(--secondary-color);
  box-shadow: -10px 10px 30px 0px rgb(203, 202, 202);
  border: 0.5px solid var(--secondary-color);
}
.carousel-btn:hover {
  background-color: var(--primary-color);
  transition: 0.3s ease;
  cursor: pointer;
  color: var(--secondary-color);
}
