/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/form.css';
@import '../components/hover.css';
@import '../components/heading.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* HEADER */
@import '../components/header.css';
/* enf of HEADER */

/* Name of page */
/* end of Name of page end */

/* AboutMe */
@import '../components/aboutMe.css';
/* end of AboutMe */

/* Description  */
/* Description end  */

/* Tools expertness  */
/* Tools expertness end  */

/* My Qualifications  */
.qualifications-container {
  display: flex;
  max-width: 500px;
  flex-direction: column;
}
.qualifications-row {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.qualification {
  padding: 25px;
  text-align: center;
}
@media (min-width: 700px) {
  .qualification {
    width: calc(50% - 5px);
  }
  .qualifications-container {
    margin: 10px auto;
    width: 80%;
    max-width: 900px;
    min-width: 700px;
  }
  .qualifications-row {
    justify-content: flex-end;
  }
  .qualifications-row:nth-child(even) {
    flex-direction: row-reverse;
  }
}
/* My Qualifications end  */

/* Testimonials  */
/* end of Testimonials  */

/* Sponsors  */
/* end of Sponsors  */

/* FOOTER  */
/* end of FOOTER  */
