/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/form.css';
@import '../components/hover.css';
@import '../components/heading.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* HEADER */
@import '../components/header.css';
/* enf of HEADER */

/* Name of page */
@import '../components/pageName.css';
/* end of Name of page end */

/* AboutMe */
@import '../components/aboutMe.css';
/* end of AboutMe */

/* Description  */
/* Description end  */

/* Tools expertness  */
.tools-list {
  display: flex;
  flex-direction: column;
}
.tool {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tool progress {
  width: 100%;
  height: 15px;
}
@media (min-width: 992px) {
  .tools-list {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .tool {
    width: 48%;
  }
  .effects {
    order: 1;
  }
  .sublime {
    order: 2;
  }
  .photoshop {
    order: 3;
  }
  .sketch {
    order: 4;
  }
  .illustrator {
    order: 5;
  }
}

/* Tools expertness end  */

/* My Qualifications  */
.qualifications-container {
  display: flex;
  flex-direction: column;
}
.qualifications-row {
  display: flex;
  gap: 85px;
  margin: 0 0 10px 10px;
  text-align: center;
  position: relative;
}
.qualification {
  padding: 30px;
  margin: 12px -40px;
  width: 600px;
  text-align: center;
  background-color: var(--secondary-color);
  box-shadow: 3px 10px 30px 3px #eee;
}
.qualification p {
  font-size: 14px;
  color: #777;
}
.qualification span {
  color: #222;
}
.qualification img {
  width: 70px;
  height: 40px;
  filter: invert(60%);
  margin-bottom: 30px;
}
.section-smaller {
  margin-bottom: 5px;
}
.dot::before {
  content: '';
  position: absolute;
  top: 75px;
  background-color: var(--primary-color);
  border: 5px solid #eee;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 2;
}
.dot {
  position: relative;
}
.line {
  position: absolute;
  background-color: #eee;
  width: 2px;
  height: 950px;
  left: 9px;
  z-index: 1;
}

@media (min-width: 700px) {
  .qualification {
    width: calc(50% - 5px);
    justify-content: space-between;
  }
  .qualifications-container {
    margin: 10px auto;
    width: 100%;
    max-width: 900px;
    min-width: 700px;
  }
  .qualifications-row {
    justify-content: flex-end;
    }
  .qualifications-row:nth-child(even) {
    flex-direction: row-reverse;
  }
/* My Qualifications end  */

/* Testimonials  */
/* end of Testimonials  */

/* Sponsors  */
/* end of Sponsors  */

/* FOOTER  */
@import '../components/footer.css';
/* end of FOOTER  */
