/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/form.css';
@import '../components/hover.css';
@import '../components/heading.css';
@import '../components/testimonials.css';
@import '../components/header.css';
@import '../components/pageName.css';
@import '../components/aboutMe.css';
@import '../components/footer.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* HEADER */
/* enf of HEADER */

/* Name of page */
/* end of Name of page end */

/* AboutMe */
/* end of AboutMe */

/* Description  */
/* Description end  */

/* Tools expertness  */
.tools-list {
  display: flex;
  flex-direction: column;
}
.tool {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tool progress {
  width: 100%;
  height: 15px;
}
@media (min-width: 992px) {
  .tools-list {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .tool {
    width: 48%;
  }
  .effects {
    order: 1;
  }
  .sublime {
    order: 2;
  }
  .photoshop {
    order: 3;
  }
  .sketch {
    order: 4;
  }
  .illustrator {
    order: 5;
  }
}

/* Tools expertness end  */

/* My Qualifications  */
.qualifications-container {
  display: flex;
  max-width: 500px;
  flex-direction: column;
}
.qualifications-row {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.qualification {
  padding: 25px;
  text-align: center;
}
@media (min-width: 700px) {
  .qualification {
    width: calc(50% - 5px);
  }
  .qualifications-container {
    margin: 10px auto;
    width: 80%;
    max-width: 900px;
    min-width: 700px;
  }
  .qualifications-row {
    justify-content: flex-end;
  }
  .qualifications-row:nth-child(even) {
    flex-direction: row-reverse;
  }
}
/* My Qualifications end  */

/* Testimonials  */
@import '../components/testimonials.css';
/* end of Testimonials  */

/* Sponsors  */
/* end of Sponsors  */

/* FOOTER  */
/* end of FOOTER  */
