/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/form.css';
@import '../components/hover.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* HEADER */
/* enf of HEADER */

/* Hero (hero section) */
/* end of Hero (hero section) */

/* AboutMe */
/* end of AboutMe */

/* OfferedService */
/* end of OfferedService */

/* NumbersCounter */
/* end of NumbersCounter */

/* LatestFeaturedProjects */
@import '../components/heading-hover.css';
/* end of LatestFeaturedProjects */

/* Testimonials */
/* end of Testimonials */

/* Plans */
@import '../components/plan.css';
/* end of Plans */

/* LatestPost */
/* end of LatestPost */

/* Sponsors */
/* end of Sponsors */
/* FOOTER */
/* end of FOOTER */
