/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/form.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* HEADER */
/* enf of HEADER */

/* Page name */
/* Page name end */

/* OfferedService */
/* end of OfferedService */

/* NumbersCounter */
/* end of NumbersCounter */

/* Plans */
/* end of Plans */

/* Testimonials */
/* end of Testimonials */

/* FOOTER */
/* end of FOOTER */
